/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2016, 11:19:48 AM
    Author     : Scrublord
*/
.corridor-label-text {
    -fx-text-fill: white;
}
.grid-background {
    -fx-background-color: dimgray;
}
.inputs {
    -fx-background-color: lightgrey;
    -fx-alignment: CENTER;
    -fx-vgap: 10;
    -fx-hgap: 10;
}
.room-label-text {
    -fx-text-fill: white;
    -fx-font-size: 16;
}
.pane-background {
    -fx-background-color: black;
}
.room-background {
    -fx-background-color: rgb(136,136,136);
}